name: rust-next

permissions:
  contents: read

on:
  schedule:
  - cron: '19 19 19 * *'

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        rust: ["stable", "beta"]
        include:
        - os: ubuntu-latest
          rust: "nightly"
    continue-on-error: ${{ matrix.rust != 'stable' }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ matrix.rust }}
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo test --no-run --workspace --all-features
    - name: Default features
      run: cargo test --workspace
    - name: toml_edit (all features)
      run: cargo test -p toml_edit --all-features
    - name: toml_edit (no-default features)
      run: cargo test -p toml_edit --no-default-features
    - name: toml (preserve_order)
      run: cargo test -p toml --features preserve_order
    - name: toml (all features)
      run: cargo test -p toml --all-features
    - name: toml (parse-only)
      run: cargo test -p toml --no-default-features --features parse
    - name: toml (display-only)
      run: cargo test -p toml --no-default-features --features display
    - name: toml (no-default features)
      run: cargo test -p toml --no-default-features
  latest:
    name: "Check latest dependencies"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
    - uses: Swatinem/rust-cache@v2
    - name: Update dependencues
      run: cargo update
    - name: Default features
      run: cargo test --workspace --all-targets
    - name: All features
      run: cargo test --workspace --all-targets --all-features
    - name: No-default features
      run: cargo test --workspace --all-targets --no-default-features
